
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/Server/sqlite3/db.lock
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/Server/sqlite3/storage.ide
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/Server/sqlite3/storage.ide-shm
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/Server/sqlite3/storage.ide-wal
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/.vs/W-SmartShopSelution/v16/.suo
W-SmartShopSelution/WPF GUI/bin
W-SmartShopSelution/SmartShopClassLibrary/bin
W-SmartShopSelution/SmartShopClassLibrary/bin/Debug
*.dll

